.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 250px;
  margin-bottom: 20px;
}

.input {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.button {
  padding: 8px;
  background-color: #1976d2;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #115293;
}